<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    {% block head%}{% endblock %} 

</head>

<body>
    <nav>
        <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo"> <!--Because im using flask, i cant just put the source of the image, i need to add it to the static file-->

        <ul>
            <li><a href="{{ url_for('userhome') }}" class="btn btn-primary">Home</a></li>
                <li>    <a href="{{ url_for('recommendations') }}" class="btn btn-primary">Recommend</a></li>
                <li>    <a href="{{ url_for('staffmessages') }}" class="btn btn-primary">Messages</a></li>
                <li>    <a href="{{ url_for('new_order') }}" class="btn btn-primary">Place Order</a></li>
                <li><a href="#">Profile</a></li>
                
            
        </ul>

        <img src="{{ url_for('static', filename='images/name+transparent.png') }}" class="logo-top"
            style="float: right;"> 
    </nav>
    {% block body%}{% endblock %}
</body>
</html>