
{% extends 'managerbase.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="style.css"> <!--This will let flask communicate with my styles css file so that i can start designing-->
{% endblock %}

{% block body %}
<h1>Today's Orders</h1>
<table>
    <tr>
        <th>Order ID</th>
        <th>Order DateTime</th>
        <th>Table ID</th>
        <th>Customer Surname</th>
        <th>Actions</th>
    </tr>
    {% for order in orders %}
    <tr>
        <td>{{ order.order_id }}</td>
        <td>{{ order.order_datetime }}</td>
        <td>{{ order.table_id }}</td>
        <td>{{ order.customer_surname }}</td>
        <td>
            <form action="{{ url_for('view_order_details', order_id=order.order_id) }}" method="GET" style="display:inline;">
                <button type="submit">View Details</button>
            </form>
            <form action="{{ url_for('delete_order', order_id=order.order_id) }}" method="POST" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}













